# Pretty basic stuff, just blocking temporary files, binary objects, and other
# junk that may show up in the folder but doesn't belong in the repo.

# Unwanted/temporary files.
~$*
*.lnk
*.tmp
*:Zone.Identifier
.vscode/

# Binaries created by the build process, or libraries used in the build.
*.a
*.dll
*.exe
*.o
*.so

# Personal scripts I use for local tasks. Not useful for anyone else.
scripts/

# Build folders.
build/
build-*/
*-build/
